body {
	min-width: 500px;
	max-width: 700px;
}
.form-control-sm {
	width: 100%;
}

.annotation-group, .session-group {
	float: right;
}

.reportAnnotation {
	display: none;
	margin-top: 2px;
}

#resetConfirmation {
	clear: both;
	margin-top: 20px;
	font-style: italic
}

#resetConfirmation button {
	font-size: 10px;
}

#resetNo {
	margin-left: 8px;
}


button input.file-input {
	display: none;
	/*position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);*/
}