body {
	min-width: 300px;
	max-width: 400px;
}

.form-control-sm {
	width: 100%;
}

.screenshot {
	background-image: url("../images/device-camera.svg");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 4px 3px;
	min-width: 30px;
}

.add {
	background-image: url("../images/diff-added.svg");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 4px 3px;
	min-width: 30px;
}

.card-header {
	padding: 4px 0 0 7px;
}

.card,
.card-body,
.card>.card>.card-header,
.card-body>.card-footer {
	padding: 2px 3px;
}

.cancel {
	float: right;
}

.list-group-item>.card>.card-header,
.list-group-item>.card>.card-footer,
.list-group-item>.card>.card-body {
	padding: 2px;
}

.reportAnnotation {
	display: none;
	margin-top: 2px;
}

#resetConfirmation {
	margin-top: 20px;
}

.btn-secondary {
	background-color: #f7f7f7;
	border-color: #f7f7f7;

}

#resetBtn {

	max-height: 30px;
	margin-right: 100px;


}

button input.file-input {
	display: none;
	/*position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);*/
}

#exportCSVBtn {
	background-image: url("../images/003-csv.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-position: 4px 3px; */
	min-width: 30px;
	min-height: 30px;
}

#exportJsonBtn {
	background-image: url("../images/002-download.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-position: 4px 3px; */
	min-width: 30px;
	min-height: 30px;
	margin-left: 5px;
}

#importJsonBtn {
	background-image: url("../images/004-up-arrow.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-position: 4px 3px; */
	min-width: 30px;
	min-height: 30px;
	margin-left: 5px;
}

#previewBtn {
	background-image: url("../images/001-graphic.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-position: 4px 3px; */
	min-width: 30px;
	min-height: 30px;
	margin-left: 5px;
}