#ExploratoryTestingSession {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 300px;
  padding-bottom: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
}

#ExploratoryTestingSession .resizeButton {
  display: block;
  float: right;
  width: 24px;
  background-color: #aaa;
  background-image: url( 'chrome-extension://__MSG_@@extension_id__/images/min_max.png' );
  background-position: top;
  text-decoration: none;
}

#ExploratoryTestingSession .resizeButton:hover {
  text-decoration: none;
}

#ExploratoryTestingSession .resize-min {
  background-position: bottom;
}

.resize-popup {
  height: 34px;
  padding-bottom: 0 !important;
  overflow: hidden;
}

#ExploratoryTestingSession .BugButton {
  width: 150px;
  height: 36px;
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24537;  
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAugAAALoBTx5ghQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGZSURBVEiJtZY9SwNBEIafCUG0k0BixMrKykbEL47EKtrbpNPKRgVrq6uDWKs/RVIE7URs7IVANFgIaoQUEtYic7C53N2eng683O18vDOzs+ydGGNwiYhMA/vAkqrugUtjzJsz2BiTCMADOoAJoQN4zngHeQHoRpAH6AKFJI6co8FDoJxgL6tPrOQARKQmInci4oXsK44CxnxExFOuGkCwFXWGLfew9hWYACYdmAjNq6dc9ZEZAL6VpJqCOIyqRe5HDtlKkgV+4ikCmgnBbUWcvRnmy0cM7TNqkioL+uzH2MdiXcc0s/x7gryIzAGLlq6Uga8kItvW+gGShxZGcCTT+rcF2AM2rawVYD6mwil9xg25DbSsdSvqmPoZOjhPc9ndxlSXRp7Cir9OcDOmifkOPPPzLXoExLlFInICzP6i+iKwkdgBsKvV9IELYJCigwFwre8fwHrkZQdsAV8asKO6ZeDKSmQnGKhtTX1PVf8OrI4kYDjsV3U4ipjJDMP7PqeoAMUIv4ZyvAD5cAdnwIHrLyHFX8gx0AjW334V9JGY6/lGAAAAAElFTkSuQmCC),
    linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-repeat: no-repeat;  
  background-position: center; 
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  padding:4px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}

#ExploratoryTestingSession .BugButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color:#c62d1f;
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAugAAALoBTx5ghQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGZSURBVEiJtZY9SwNBEIafCUG0k0BixMrKykbEL47EKtrbpNPKRgVrq6uDWKs/RVIE7URs7IVANFgIaoQUEtYic7C53N2eng683O18vDOzs+ydGGNwiYhMA/vAkqrugUtjzJsz2BiTCMADOoAJoQN4zngHeQHoRpAH6AKFJI6co8FDoJxgL6tPrOQARKQmInci4oXsK44CxnxExFOuGkCwFXWGLfew9hWYACYdmAjNq6dc9ZEZAL6VpJqCOIyqRe5HDtlKkgV+4ikCmgnBbUWcvRnmy0cM7TNqkioL+uzH2MdiXcc0s/x7gryIzAGLlq6Uga8kItvW+gGShxZGcCTT+rcF2AM2rawVYD6mwil9xg25DbSsdSvqmPoZOjhPc9ndxlSXRp7Cir9OcDOmifkOPPPzLXoExLlFInICzP6i+iKwkdgBsKvV9IELYJCigwFwre8fwHrkZQdsAV8asKO6ZeDKSmQnGKhtTX1PVf8OrI4kYDjsV3U4ipjJDMP7PqeoAMUIv4ZyvAD5cAdnwIHrLyHFX8gx0AjW334V9JGY6/lGAAAAAElFTkSuQmCC),
    linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-repeat: no-repeat;  
  background-position: center;   
}

#ExploratoryTestingSession .BugButton:active {
  position:relative;
  top:1px;
}

#ExploratoryTestingSession .NoteButton {
  width: 150px;
  height: 36px;
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color:#ffec64;
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAApgAAAKYB3X3/OAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEBSURBVEiJvZW7DcIwEECfUSIKGAGJliEyAANkASaBKWAAihQZI2UGYYA0SBSmuYBlbPzB4qRrfOf3zo4io7WmVAIV0AHtvLagbCyBDdAppVqAkpNfgB2wBgbgAbQANXAARkAn5AQ0ItgCN0lT0iHwFPALLpMfBbizJCup500um3tZGyzJxbi+9+bEO+8t8SzZAlW2wAOf8+jojxcE4L3UmyxBLByYkgUpcJsTFMTApW9ycb4KYuHS6+SEBNcY+C+CPXAPwbMEwMkhccJzBdqSXH3wXwQvScRP6ORUeEJrrXy1lCj9ov1fAOnvQShH8xssgHPhgT94uW/yx+TCqc0TPAFFMPiqY8cw3gAAAABJRU5ErkJggg==),
    linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-repeat: no-repeat;  
  background-position: center; 
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  padding:4px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}

#ExploratoryTestingSession .NoteButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color:#ffab23;
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAApgAAAKYB3X3/OAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEBSURBVEiJvZW7DcIwEECfUSIKGAGJliEyAANkASaBKWAAihQZI2UGYYA0SBSmuYBlbPzB4qRrfOf3zo4io7WmVAIV0AHtvLagbCyBDdAppVqAkpNfgB2wBgbgAbQANXAARkAn5AQ0ItgCN0lT0iHwFPALLpMfBbizJCup500um3tZGyzJxbi+9+bEO+8t8SzZAlW2wAOf8+jojxcE4L3UmyxBLByYkgUpcJsTFMTApW9ycb4KYuHS6+SEBNcY+C+CPXAPwbMEwMkhccJzBdqSXH3wXwQvScRP6ORUeEJrrXy1lCj9ov1fAOnvQShH8xssgHPhgT94uW/yx+TCqc0TPAFFMPiqY8cw3gAAAABJRU5ErkJggg==),
    linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-repeat: no-repeat;  
  background-position: center;
}

#ExploratoryTestingSession .NoteButton:active {
  position:relative;
  top:1px;
}

#ExploratoryTestingSession .IdeaButton {
  width: 150px;
  height: 36px;
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
  background-color:#3d94f6;
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAKcQAACnEBtdha7wAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAH4SURBVEiJpdXBi81RFAfwzx0vnmaEjUkzpCkmK4kUZUeNjY2/wJ4iC4UVZaFsxhpTsxDKkp3NlEbsSBM1ZjPKEEImjZlr8c6bfp73e+/3mlO39zvnfM/3vHPvOffKOau68BJXe4np05tsxtZeAmo9JritUUVlSVF6Q0mplnP+UwpOaRBLOecvHfwrOedPq8aWPX6DB6gXbPtxB++RY73GOIYLuH34iEf/cLYkOItFnAn9HH4XiFvXZ5wM7DheYE9pggBuQx0XC0TvItlRHMclLBT8Y6WdV9KOu6OSjHvob4MZxFRg5jDQS4KJCHyLjR3mYghfA3u+lzk4GL83cs6LJRg553ncDfVQO8x/CVJKGzAa6nQZeUGac3GgUgIs4Vd8L1dI0MR8L02QUhpJKZ1OKZ3IOa/gWfjblt0izX8+FVwXUko3U0pj0Dys5xoHNRn65dAfd7n86pgJ7KmwXdFo4aerXYQR7CoEjuJbBF5HXxvyfjwMzCy2FHx9WFfapgE6gp9B8KTFV9No4Yx5jPQ0aAWiY0Ey12Zrchzs3o4c3R6MIPqBHQXb4bDPdIuv8h4sYwCzKaUPsb9D4Su92ptS5UVrTmoNOzGM1OJbU4J6B9/6rtEVzqDZru3WdLf4KhVMaLRrqyzg/poriCq245bGvf8K17CpSuxfOACsF3meNvIAAAAASUVORK5CYII=),
    linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-repeat: no-repeat;  
  background-position: center;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  padding:4px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
}

#ExploratoryTestingSession .IdeaButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
  background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
  background-color:#1e62d0;
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAKcQAACnEBtdha7wAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAH4SURBVEiJpdXBi81RFAfwzx0vnmaEjUkzpCkmK4kUZUeNjY2/wJ4iC4UVZaFsxhpTsxDKkp3NlEbsSBM1ZjPKEEImjZlr8c6bfp73e+/3mlO39zvnfM/3vHPvOffKOau68BJXe4np05tsxtZeAmo9JritUUVlSVF6Q0mplnP+UwpOaRBLOecvHfwrOedPq8aWPX6DB6gXbPtxB++RY73GOIYLuH34iEf/cLYkOItFnAn9HH4XiFvXZ5wM7DheYE9pggBuQx0XC0TvItlRHMclLBT8Y6WdV9KOu6OSjHvob4MZxFRg5jDQS4KJCHyLjR3mYghfA3u+lzk4GL83cs6LJRg553ncDfVQO8x/CVJKGzAa6nQZeUGac3GgUgIs4Vd8L1dI0MR8L02QUhpJKZ1OKZ3IOa/gWfjblt0izX8+FVwXUko3U0pj0Dys5xoHNRn65dAfd7n86pgJ7KmwXdFo4aerXYQR7CoEjuJbBF5HXxvyfjwMzCy2FHx9WFfapgE6gp9B8KTFV9No4Yx5jPQ0aAWiY0Ey12Zrchzs3o4c3R6MIPqBHQXb4bDPdIuv8h4sYwCzKaUPsb9D4Su92ptS5UVrTmoNOzGM1OJbU4J6B9/6rtEVzqDZru3WdLf4KhVMaLRrqyzg/poriCq245bGvf8K17CpSuxfOACsF3meNvIAAAAASUVORK5CYII=),
    linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-repeat: no-repeat;  
  background-position: center;
}

#ExploratoryTestingSession .IdeaButton:active {
  position:relative;
  top:1px;
}

#ExploratoryTestingSession .QuestionButton {
  width: 150px;
  height: 36px;
  -moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
  -webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
  box-shadow:inset 0px 1px 0px 0px #e184f3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd));
  background:-moz-linear-gradient(top, #c123de 5%, #a20dbd 100%);
  background:-webkit-linear-gradient(top, #c123de 5%, #a20dbd 100%);
  background:-o-linear-gradient(top, #c123de 5%, #a20dbd 100%);
  background:-ms-linear-gradient(top, #c123de 5%, #a20dbd 100%);
  background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd',GradientType=0);
  background-color:#c123de;
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAXQAAAF0BVWAulAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHqSURBVEiJxdRPiE5RGAbw35mZxohk8pVJmZSdIjuzQzRRxoaVlWSnLCxslK2NnZItNrMhDaWUWFL+JpkVGmmYyEwaNVO8Fvdebsf9vvlDeer0nfO89zzPOe/7nVdEQB/O4Dlm8RpXMBgR/mZAN+4jGsY0Ni9RcBBncRBdcKIm+B4X8bLGjS1BfCU+1/aehNs1Yrj8sB/fSu7TEgwOZxl41IPLmMOLiLijwBqkcj5l8Vidr3siYhSjFZNSWo+7isLDWC02jJ3YgCe4ERHvOlo25PBh7Yr30IsWbvrzT/AVx2v7j2bx8dzgVC34FGtLfqxBvBo/sKudQVd2oa21+f6ImE4p7cFIhyQknG8XzA0Gyt83EfGhnA91EK+wPaW0qinQk62PYYeigBVaizDoxrqmQH6D3Yo87q1xzxZhMBURE9iS8XN5kccVxXlb41r4qH2RA+cU2ZjM+Eu5wdUycD3jRxSPsUn8seLNHGiIDeUGqfw4NbSBbYoHOFtunihPvqKMX8vEX0WEBftLg1E3+jOuhfnM4HREFCdtQkqpS9Fpj2CT372pCb2KBlnhOzZGxGSnk15YoLCdxq1fOm3EBxQtYLkGhxYy2PcX4l/QW2nlD61CXxt+MZiJiPlq0c7gn+G/GYxjZpmaD+qLn3+uLAoP3yWBAAAAAElFTkSuQmCC),
    linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-repeat: no-repeat;  
  background-position: center;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #a511c0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  padding:4px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9b14b3;
}

#ExploratoryTestingSession .QuestionButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de));
  background:-moz-linear-gradient(top, #a20dbd 5%, #c123de 100%);
  background:-webkit-linear-gradient(top, #a20dbd 5%, #c123de 100%);
  background:-o-linear-gradient(top, #a20dbd 5%, #c123de 100%);
  background:-ms-linear-gradient(top, #a20dbd 5%, #c123de 100%);
  background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de',GradientType=0);
  background-color:#a20dbd;
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAXQAAAF0BVWAulAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHqSURBVEiJxdRPiE5RGAbw35mZxohk8pVJmZSdIjuzQzRRxoaVlWSnLCxslK2NnZItNrMhDaWUWFL+JpkVGmmYyEwaNVO8Fvdebsf9vvlDeer0nfO89zzPOe/7nVdEQB/O4Dlm8RpXMBgR/mZAN+4jGsY0Ni9RcBBncRBdcKIm+B4X8bLGjS1BfCU+1/aehNs1Yrj8sB/fSu7TEgwOZxl41IPLmMOLiLijwBqkcj5l8Vidr3siYhSjFZNSWo+7isLDWC02jJ3YgCe4ERHvOlo25PBh7Yr30IsWbvrzT/AVx2v7j2bx8dzgVC34FGtLfqxBvBo/sKudQVd2oa21+f6ImE4p7cFIhyQknG8XzA0Gyt83EfGhnA91EK+wPaW0qinQk62PYYeigBVaizDoxrqmQH6D3Yo87q1xzxZhMBURE9iS8XN5kccVxXlb41r4qH2RA+cU2ZjM+Eu5wdUycD3jRxSPsUn8seLNHGiIDeUGqfw4NbSBbYoHOFtunihPvqKMX8vEX0WEBftLg1E3+jOuhfnM4HREFCdtQkqpS9Fpj2CT372pCb2KBlnhOzZGxGSnk15YoLCdxq1fOm3EBxQtYLkGhxYy2PcX4l/QW2nlD61CXxt+MZiJiPlq0c7gn+G/GYxjZpmaD+qLn3+uLAoP3yWBAAAAAElFTkSuQmCC),
    linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  background-repeat: no-repeat;  
  background-position: center;
}

#ExploratoryTestingSession .QuestionButton:active {
  position:relative;
  top:1px;
}

#ExploratoryTestingSession .actionButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:12px;
  /*font-weight:bold;*/
  padding:4px 4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

#ExploratoryTestingSession .actionButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#e9e9e9;
}

#ExploratoryTestingSession .actionButton:active {
  position:relative;
  top:1px;
}

#ExploratoryTestingSession .cancelButton {
  background: none;
  border: none;
  padding: 0;
  font-size: 10px;  
  font-family: arial; /*input has OS specific font-family*/
  color:#069;
  text-decoration: underline;  
  text-align: left;
  margin: 0;
  cursor: pointer;
}

#ExploratoryTestingSession ul.menu {
  list-style-type: none;  
  padding: 0 0 0 5px;
  min-width: 180px;
  margin: 5px 0 5px 0;  
}

#ExploratoryTestingSession ul.menu li {
  padding: 1px 1px 1px 5px;
  text-align: center;
}

#ExploratoryTestingSession div.reportAnnotation {
  float: left;
  display: none;
  margin: 2px 0 0 0;  
}

#ExploratoryTestingSession div.reportAnnotation textarea {
  font: 14px arial, sans-serif;
  width: 90%;
}

#ExploratoryTestingSession h1.heading {
  display: block;
  font: 14px arial, sans-serif;  
  font-weight: bold;
  margin: 0;
  padding: 5px;
  background-color: #eee;
  line-height: 24px;  
  text-align: center;
}

#ExploratoryTestingSession .menuTitle {
  margin: 5px 0 0 0;  
  font: small arial, sans-serif;  
  text-align: center;
}

#ExploratoryTestingSession div.footer {
  padding: 5px 2px 5px 5px;
  clear: both;
}

#ExploratoryTestingSession .sessionOptions {
  float: right;
}

#ExploratoryTestingSession .annotaionOptions {
  float: right;
}

#ExploratoryTestingSession #resetConfirmation {
  clear: both;
  margin: 20px 0 0 0;
  font-style: italic;
}

#ExploratoryTestingSession #resetConfirmation button {
  font-size: 10px;
}

#ExploratoryTestingSession #resetNo {
  margin: 0 0 0 8px;
}

#ExploratoryTestingSession .addNewAnnotaionBtn {
  height: 22px;
  width: 22px;
  background-image: url( 'chrome-extension://__MSG_@@extension_id__/images/add139.png' );
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

#ExploratoryTestingSession .addNewAnnotaionBtn:hover {
  background-image: url( 'chrome-extension://__MSG_@@extension_id__/images/add139.png' );
  background-position: center center;
  background-repeat: no-repeat;
}

#ExploratoryTestingSession .addNewAnnotaionScreenshotBtn {
  height: 22px;
  width: 30px;
  background-image: url( 'chrome-extension://__MSG_@@extension_id__/images/camera25.png' );
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

#ExploratoryTestingSession .addNewAnnotaionScreenshotBtn:hover {
  background-image: url( 'chrome-extension://__MSG_@@extension_id__/images/camera25.png' );
  background-position: center center;
  background-repeat: no-repeat;
}
